body{
    margin: 0px;
    /* Эту строчку и тег я добавил на случай если у вас не запустятся модули
    чтобы не отображался дефолтный марджин */
}
.home{
    display: inline-block;
    vertical-align: top;
    margin-left: 500px;
}
.header {
    width: 1141px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 91px;
    margin-left: 65px;
}
.link{
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    text-decoration: none;
    text-align: right;
    margin-right: 8px;
}
.main{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 100px 165px 100px;
}
.main-content{
    width: 680px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}
.main-content h1{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
}
.main-content p{
    font-family: "Roboto Slab";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}
.started{
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.main-services{
    width: 1125px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 99px;
    margin-bottom: 400px;
}
.services-head{
    width: 476px;
    color: #555555;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.services-head h2{
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.services-head p{
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
}
.service-card{
   width: 345px;
   float: left;
   margin-left: 30px;
}
.service-card h2 {
    color: #555555;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.service-card p{
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
}
.clean{
    background-image: url(../images/fa-font.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 2px solid #dddddd;
    background-color: #c0301c;
    margin-left: 120px;
    margin-right: 120px;
}
.rock{
    background-image: url(../images/fa-code.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    margin-left: 120px;
    margin-right: 120px;
}
.expert{
    background-image: url(../images/fa-support.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    margin-left: 120px;
    margin-right: 120px;
}
.border{
    width: 100px;
    height: 1px;
    background-color: #555555;
    border: 1px solid #555555;
    margin-left: auto;
    margin-right: auto;
}